body, html    {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato",
    sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    background-color: #b6f8ef;
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
    }

    .topnav a {
        display: inline;
        color: #1affa3;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .topnav a:hover {
        background-color: #111;
        }
     
    
        .pimg1,
        .pimg2,
        .pimg3 {
            position: relative;
            opacity: 0.75;
            /* Specifies how background images are tiled after they have been sized and
    positioned. */
            background-repeat: no-repeat;
        }
    
        .section {
            text-align: center;
            padding: 50px 80px;
        }
    
        .section-light {
            background-color: #f4f4f4;
            color: #666;
        }
    
        .section-dark {
            background-color: #282e34;
            color: #ddd;
        }
            <section>
                <img class="mySlides" src="image1.jpg" style="height:500px; width:1340px;">
                <img class="mySlides" src="image2.jpg" style="height:500px; width:1340px;">
                <img class="mySlides" src="image3.jpg" style="height:500px; width: 1340px;">
            </section>
                        <section><img class="mySlides" src="image1.jpg" style="height:500px; width:1340px;"><img class="mySlides" src="image2.jpg" style="height:500px; width:1340px;"><img class="mySlides" src="image3.jpg" style="height:500px; width:1340px;"></section><script> // Automatic Slideshow - change image every 3 seconds
                        var myIndex=0;
                        carousel();
            
                        function carousel() {
                            var i;
                            var x=document.getElementsByClassName("mySlides");
            
                            for (i=0; i < x.length; i++) {
                                x[i].style.display="none";
                            }
            
                            myIndex++;
            
                            if (myIndex > x.length) {
                                myIndex=1
                            }
            
                            x[myIndex-1].style.display="block";
                            setTimeout(carousel, 3000) 
            
                        </script>